body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#fileInput {
    margin-bottom: 10px;
}

#keyDisplay {
    margin-top: 10px;
}

#copyKeyButton {
    margin-top: 10px;
}
