forex-python==1.8
langdetect==1.0.9
moviepy==1.0.3
Pillow==10.1.0
pypng==0.20220715.0
pyshorteners==1.0.1
qrcode==7.4.2
rembg==2.0.50
Requests==2.31.0
speedtest_cli==2.1.3
wifi_qrcode_generator==1.0.1
hashid==3.1.4